extends layout

block content
  h1(style="padding-top: 40px; padding-bottom: 40px;") Search Inventory
  h5=message
  form(method="Post", action="/query", name="DBQuery", style="padding-bottom:50px;")
   button.search.btn(type="submit", style="font-size:25px;") Search
   table.table-striped.table-bordered.table-responsive(width="90%", align="center", style="font-size:18px; color:black; padding-bottom: 35px;")
    tr(style="margin: 0 auto; background: #52bab3;")
     td #[b UPC]
     td #[b LOCATION]
    tr
     td(width="20%;")
      input.form-control.upc(type="number", placeholder="barcode", size="12", name="barcode", style="font-size: 13px;padding:0px; margin:0px; height:50px;text-align:center;")
     td(width="20%;")
      input.form-control.location(type="text", placeholder="location", size="12", name="location", style="font-size: 13px;padding:0px; margin:0px;height:50px;text-align:center;")
  

  //- div(style="width:700px; margin:0 auto")
  //-  h5(style="color:black;") Notes for Searching:
  //-  h5(style="text-align:left; color:black;") 1.  When typing into the description field, remember to add the PERIODS
  //-  h5(style="text-align:left; color:black;")
  //-   strong &nbsp;&nbsp;&nbsp;&nbsp; Length . type . color .
  //-  h5(style="text-align:left; color:black;") &nbsp;&nbsp;&nbsp;&nbsp; EX: #[strong 18.SI.1.] &rarr; only the color 1
  //-  h5(style="text-align:left; color:black;") &nbsp;&nbsp;&nbsp;&nbsp; EX: #[strong 18.SI.1] &rarr; colors 1,10,1001,12 etc.
  //-  h5(style="text-align:left; color:black;") 2.  Clicking on the #[strong Description] label opens a search modal
  //-  h5(style="text-align:left; color:black;") 3.  Currently you may only search by #[strong two] input fields at once
  //-  h5(style="text-align:left; color:black;") 4.  Let me know if there are any products with no upcs assigned

  //- div(style="width:700px; margin:0 auto")
  //-  h5(style="color:black;") Adding Search Buttons:
  //-  h5(style="text-align:left; color:black;") 1.  Decide if new upcs will need a new color or style
  //-  h5(style="text-align:left; color:black;") EX: Flat-Tip (This is a new style, but we have all the colors)
  //-  h5(style="text-align:left; color:black;") 2.  Submit search button using the Product ID from the master list
  //-  h5(style="text-align:left; color:black;") EX:  Flat-Tip (the Product ID describes the style as "FTIP", so input "FTIP")


  //- .submit-content
  //-  form.proposal-form.br(method="Post", action="/radioAdd")
  //-   h2.sub(style="margin: 0; padding-top: 10px; padding-bottom: 30px;") Add Search Button
  //-   input(type="text", placeholder="Input search button term here!", size="40", name="radio", style="font-size: 22px; margin-bottom: 0px;" )
  //-   label(style="padding-top: 20px; font-size: 22px; color: #465058;") Select Button Type
  //-   select.form-control(name="searchtype" style="font-size: 22px; color: #222;")
  //-    option Length
  //-    option Style
  //-    option Color
  //-    option Tool
  //-   br
  //-   br
  //-   br
  //-   button.btn.invSub(type="submit") Submit New Search
  //-   br
  //-   br

  //- h5(style="color:black;padding-top: 50px;") List Out the Search Buttons
  //- .border.row(style="width: 90%; margin: 0 auto; text-align: center; font-size: 18px;")
  //-  .border.col-md-3(style="border: 1px solid #ddd; color:#465058; padding-left: 0px; padding-right: 0px;") #[b LENGTH]
  //-   each post, i in nums
  //-    if (post.type == 'Length')
  //-     div(style="border: 1px solid #ddd;")
  //-      p(style="margin-bottom: 0px; padding-bottom: 0px; font-weight: 700;")=post.radio
  //-      a(href="/deletebutton/#{post.id}", onclick="return warningList();")
  //-       button.btn(style="font-size: 15px; background-color: red;") Delete
  //-  .border.col-md-3(style="border: 1px solid #ddd; color:#465058; padding-left: 0px; padding-right: 0px;") #[b STYLE]
  //-   each post, i in nums
  //-    if (post.type == 'Style')
  //-     div(style="border: 1px solid #ddd;")
  //-      p(style="margin-bottom: 0px; padding-bottom: 0px; font-weight: 700;")=post.radio
  //-      a(href="/deletebutton/#{post.id}", onclick="return warningList();")
  //-       button.btn(style="font-size: 15px; background-color: red;") Delete

  //-  .border.col-md-3(style="border: 1px solid #ddd; color:#465058; padding-left: 0px; padding-right: 0px;") #[b COLOR]
  //-   each post, i in nums
  //-    if (post.type == 'Color')
  //-     div(style="border: 1px solid #ddd;")
  //-      p(style="margin-bottom: 0px; padding-bottom: 0px; font-weight: 700;")=post.radio
  //-      a(href="/deletebutton/#{post.id}", onclick="return warningList();")
  //-       button.btn(style="font-size: 15px; background-color: red;") Delete
  //-  .border.col-md-3(style="border: 1px solid #ddd; color:#465058; padding-left: 0px; padding-right: 0px;") #[b TOOL]
  //-   each post, i in nums
  //-    if (post.type == 'Tool')
  //-     div(style="border: 1px solid #ddd;")
  //-      p(style="margin-bottom: 0px; padding-bottom: 0px; font-weight: 700;")=post.radio
  //-      a(href="/deletebutton/#{post.id}", onclick="return warningList();")
  //-       button.btn(style="font-size: 15px; background-color: red;") Delete



  //- #myModal.modal.fade(role='dialog')
  //-     .modal-dialog.modal-lg
        
  //-       .modal-content
  //-         .modal-header
  //-           button.close(type='button', data-dismiss='modal') ×
  //-           h4.modal-title Search Product IDs
  //-         .modal-body
  //-           form(role='form', id='radio1', method="Post", action="/radioSearch", name="Radio",style="margin: 0 auto; width: 800px;")
  //-            h7(style="float:left; padding-right:5px; padding-top: 5px;font-size: 15px; color: black; font-weight: 700;") Length: &nbsp;&nbsp;
  //-            div(style="width: 700px;")
  //-             each post, i in nums
  //-              if post.type == "Length"
  //-               label.btn.btn-primary(style="font-size: 10px; float:center;")
  //-                input(type='radio', name='length', value='#{post.radio}', style="vertical-align: middle")
  //-                | #[span=post.radio]
  //-            br
  //-            br
  //-            br
  //-            br
  //-            h7(style="float: left; padding-right:5px; padding-top: 5px;font-size: 15px; color: black; font-weight: 700;") Style: &nbsp;&nbsp;
  //-            div(style="width: 700px;")
  //-            each post, i in nums
  //-             if post.type == "Style"
  //-              label.btn.btn-primary(style="font-size: 10px; float:center;")
  //-               input(type='radio', name='type', value='#{post.radio}', style="vertical-align: middle")
  //-               | #[span=post.radio]
  //-            br
  //-            br
  //-            br 
  //-            br
  //-            div(style="height: 75px;")
  //-            h7(style="float: left; padding-right:5px; padding-top: 5px;font-size: 15px; color: black; font-weight: 700;") Color:
  //-                         //- loop through "Color"....input name "color"
  //-            div(style="width: 700px;")
  //-            each post, i in nums
  //-             if post.type == "Color"
  //-              label.btn.btn-primary(style="font-size: 10px; float:center;")
  //-               input(type='radio', name='color', value='#{post.radio}', style="vertical-align: middle")
  //-               | #[span=post.radio]
  //-            br
  //-            br
  //-            br
  //-            br
  //-            div(style="height: 75px; margin-top: 75px;")
  //-            h7(style="float: left; padding-right:5px; padding-top: 5px;font-size: 15px; color: black; font-weight: 700;") Tools:
  //-            //- loop through "Tool".....input name "type"
  //-            div(style="width: 700px;")
  //-            each post, i in nums
  //-             if post.type == "Tool"
  //-              label.btn.btn-primary(style="font-size: 10px;")
  //-               input(type='radio', name='type', value='#{post.radio}', style="vertical-align: middle")
  //-               | #[span=post.radio]
  //-            br
  //-            br
  //-            br
  //-            div(style="height: 85px;")
  //-            button(type="submit", style="font-size:30px; padding-top:10px;") Search ProductID
             






  script.
    $(document).ready(function() {
      $('input[name=barcode]').focus();

      $("#radio1").trigger('reset');


        
      });
      $('input:checked').removeAttr('checked');
              $('input:checked').removeAttr('checked');
              $('input:checked').removeAttr('checked');

      function warningList() {
          if(confirm("Please confirm you want to delete this. Do NOT prevent future popups!") == true){
          return true;
          } 
        else{
        return false;
          }
        }


   